<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.infra.mapper.FilmMapper">
    <insert id="insertFilm" parameterType="com.hand.domain.entity.FilmE">
        INSERT film (film_id, title, description, language_id)
        VALUES (#{filmId}, #{title}, #{description}, #{languageId})
    </insert>
</mapper>